@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <p>Conhecer outros projetos <a href="https://luizmarcelolm.github.io/Portfolio/">Meu Portfólio</a>.</p>
</div>
